body {
  background-color: #2d3c49;
  font-family: Open Sans,sans-serif;
}

.container {
  background-color: white;
}

a:hover {
  color: blue !important;
}

/* Header styling */
.logo {
/*   float: left; */
  width: 30%;
  order: 1;
  height: 100%;
}

.logo img {
  width: 100%;
  margin-left: -6em;
}

.header {
  display: inline-block;
    display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
}

.name {
  text-align: right;
  padding-top: 40px;
  order: 2;
  width: 70%;
}

.container > div > div > h3 {
  float: right;
}

/* Horizontal row styling */
hr.lineseperator {
  height: 3px;
  background: #7d97ad;
}

/* Main image styling */
.mainimage {
  width: 100%;
  padding-top: 30px;
}

/* Featured work styling */
.bottom {
  padding-top: 30px;
  padding-bottom: 30px;
}

.fwcontainer {
  width: 100%;
  text-align: center;
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
    align-items: center;
  justify-content: center;
}

.fwcontainer h2 {
  color: #2d3c49 !important;
  font-weight: bold;
  padding-top: 10px;
}

.fwcontainer a {
  color: #2d3c49;
  font-weight: bold;
}

.fwtext {
  color: #7d97ad;
}

.fwlogo {
  width: 75%;
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.50rem;
  }
  .name {
    width: 70%;
    order: 2;
    padding-top: 3em;
  }

  .logo {
    width: 30%;
    height: 100%;
    order: 1;
  }

  .logo img {
    margin-left: -4em;
    padding-top: 1em;
  }

  .fwtext {
    text-align: center;
  }

  .fwlogo {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .name {
    margin-right: auto;
    margin-left: auto;
    order: -1 !important;
    text-align: center;
  }

  .container > div > div > h3 {
    float: none;
  }

  .logo {
    width: 75%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    order: 2;
  }

  .logo img {
    margin-left: 0;
  }

  .fwtext {
    font-size: 2rem;
    text-align: center;
  }

  .fwlogo {
    width: 55%;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.50rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  .name {
    margin-right: auto;
    margin-left: auto;
    order: 1 !important;
    text-align: center;
  }

  .container > div > div > h3 {
    float: none;
  }

  .logo {
    width: 55%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    order: 2 !important;
  }

  .logo img {
    margin-left: 0;
  }

  .fwtext {
    font-size: 2rem;
    text-align: center;
  }

  .fwlogo {
    width: 50%;
  }
}







